# dependencies
node_modules/
package-lock.json

# IDE
/.idea
/.awcache
/.vscode

# misc
lerna-debug.log
npm-debug.log
/src/common/npm-debug.log
/src/core/npm-debug.log
/src/testing/npm-debug.log
/src/microservices/npm-debug.log
/src/websockets/npm-debug.log

# example
/quick-start
/example_dist
/example

# tests
/test
/coverage
/.nyc_output

# build
/lib
