language: node_js
node_js:
      - "7"
addons:
     firefox: "latest"
before_script:
     - export DISPLAY=:99.0
     - sh -e /etc/init.d/xvfb start
script:
      - npm test
      - npm run build
after_success: npm run coverage