language: node_js
node_js:
      - "iojs"
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script:
      - npm test
      - npm run build