language: node_js
node_js:
      - "8"
      - "9"
cache:
      directories:
           - "node_modules"
addons:
     firefox: "latest"
before_script:
     - export DISPLAY=:99.0
     - sh -e /etc/init.d/xvfb start
install:
     - npm install
     - gulp build
script:
      - npm test
after_success: npm run coverage