version: 2
jobs:
  build:
    working_directory: ~/nest
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run:
          name: Update NPM version
          command: 'sudo npm install -g npm@latest'
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Install dependencies
          command: npm ci
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: Build
          command: npm run build:dev
        
  test:
    working_directory: ~/nest
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - restore_cache:
          name: Restore node_modules cache
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Build (dev)
          command: npm run build:dev
      - run:
          name: Test
          command: npm run test
  lint:
    working_directory: ~/nest
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - restore_cache:
          name: Restore node_modules cache
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Lint
          command: npm run lint
workflows:
  version: 2
  build-and-test:
    jobs:
      - build
      - test:
          requires:
            - build
      - lint:
          requires:
            - build
