version: 2
jobs:
  build:
    working_directory: ~/nest
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run:
          name: Update NPM version
          command: 'sudo npm install -g npm@latest'
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Install dependencies
          command: npm ci
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: Build
          command: npm run build
        
  test:
    working_directory: ~/nest
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - restore_cache:
          name: Restore node_modules cache
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Build (dev)
          command: npm run build
      - run:
          name: Test
          command: npm run test
      - run:
          name: Collect coverage
          command: npm run coverage

  lint:
    working_directory: ~/nest
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - restore_cache:
          name: Restore node_modules cache
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Lint
          command: npm run lint

  integration_tests:
    working_directory: ~/nest
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run:
          name: Prepare tests
          command: bash ./scripts/prepare.sh
      - run:
          name: Integration tests
          command: npm run integration-test

  samples:
    working_directory: ~/nest
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run:
          name: Build all samples
          command: npm run build:samples

workflows:
  version: 2
  build-and-test:
    jobs:
      - build
      - test:
          requires:
            - build
      - lint:
          requires:
            - build
      - integration_tests:
          requires:
            - build
      - samples:
          requires:
            - build
      
