# dependencies
/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log

# example
/quick-start

# tests
/test
/coverage
/.nyc_output

# dist
/dist

# frontend build files (uncomment if you don't want to commit frontend files)
# /public/*
# !/public/README.md

# uploads
/uploads