{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "node": "current" },
        "modules": false
      }
    ]
  ],
  "plugins": [["@babel/plugin-proposal-decorators", { "legacy": true }]]
}
